.game-option-container {
  /* box-shadow: 0 0 10px 0px #333333; */
  margin: 15px 0;
}

.thumbnail {
  border-radius: 5px 0 0 5px;
  background-size: contain;
  background-position: center;
}

.title-container {
  border-radius: 0 5px 5px 0;
}

.title-container > p {
  margin: 20px;
  font-family: "Darumadrop One";
  font-size: 32px;
}
