@font-face {
  font-family: "Darumadrop One";
  src: local("Darumadrop One"), url(../fonts/DarumadropOne-Regular.ttf),
    format("tff");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(../fonts/opensans.ttf), format("tff");
}

h1 {
  font-family: "Darumadrop One";
  color: #2e6a74;
  font-size: 64px !important;
  margin: auto;
  padding: 0;
  transform: rotate(-2deg);
}

h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}

p {
  font-family: "Open Sans";
  font-size: 16px;
}

label {
  font-family: "Open Sans";
  font-size: 16px;
}

.bold {
  font-weight: 600;
}

.title-font {
  font-family: "Darumadrop One";
}

.box-shadow {
  box-shadow: rgba(119, 119, 119, 0.16) 0px 0px 5px 4px !important;
}

.font-white {
  color: #ffffff;
}

.font-blue {
  color: #5eb1bf;
}

.screenWrapper {
  height: 100vh;
  position: relative;
}

.guttering {
  padding: 0 20px;
}

.font-tilt {
  transform: rotate(-2deg);
}

.screen-title {
  font-size: 48px !important;
  color: #5eb1bf;
  margin-bottom: 50px;
}
