h1 {
  font-family: "Darumadrop One";
  color: #2e6a74;
  font-size: 64px !important;
  margin: auto;
  padding: 0;
  transform: rotate(-2deg);
}

.title-font {
  font-family: "Darumadrop One";
}

.box-shadow {
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 13px 4px !important;
}

.font-white {
  color: #ffffff;
}

.screenWrapper {
  height: 100vh;
  position: relative;
  padding: 0 20px;
}
