.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    background-image: url("../../../assets/hamburger-menu-icon.svg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
