label {
  margin-bottom: 10px;
}

select,
input {
  display: block;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

select::-ms-expand {
  display: none;
}

#selected-words > p {
  padding: 10px 20px;
  border-radius: 10px;
}

.active {
  color: #5eb1bf;
  border-bottom: solid 1px #5eb1bf;
  width: fit-content;
}
